.dropdown-toggle::after {
    display: none;
}
ul.dropdown-menu li:first-child{
    border-top: none
}
.dropdown-menu {
    box-shadow: 0px 5px 26px -5px #cdd4e7 !important;
    padding: 0;
}
ul.dropdown-menu li {
    border-top: 1px solid #d9d9d9;
}
.dropdown-menu li a {
    font-size: 13px;
    padding: 8px 11px;
    display: block;
}
.dropdown-menu li a i {
    font-size: 1rem;
}
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #66339900;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}
.form-control:focus {
    border-color: #00ac9f;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    box-shadow: none !important;
}
input[type='radio']:checked:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    top: -4px;
    left: 0;
    position: relative;
    background-color: #2849c4;
    content: '';
    display: inline-block;
    visibility: visible;
    border: none;
}
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #fff;
    background-color: #17254e;
    border-color: #ffffff;
}
.btn-outline-primary {
    color: #6a6a6a;
    border-color: #17254e;
}
.form-check-input:checked {
    background-color: #2849c4;
    border-color: #2849c4;
}
/* .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1e77d0;
    border: 1px solid #0015ff00;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: white;
} */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e3e3e3 1px;
    outline: 0;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #b887e6;
    border-radius: 4px;
    cursor: text;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #17254e;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link:focus, .nav-link:hover {
    color: white;
}.nav-link:focus, .nav-link:hover {
    color: white;
}
.modal-header {
    border-bottom: 1px solid #dee2e600;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ff8f8f !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #ffffff !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #354b77 !important;
    border: 1px solid #ffffff !important;
    margin-top: 2px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #ff5959 !important;
    color: #333;
    outline: none;
    color: white !important;
}
.page-link:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #2849c4;
    border-color: #0032c8;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2849c4;
    border-color: #2849c4;
}
/* date picker css start  */
.carousel-item{
    border-radius: 7px;
    overflow: hidden;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 15px;
    padding-right: 5px;
}
.flatpickr-months {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #c6e2ff;
    padding: 1rem;
}
/* date picker css end  */
.min_height0{
    min-height: 0 !important;
  }
  .nav-tabs {
    border-bottom: 1px solid #dee2e600 !important;
}